{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Bienvenido a Farmacia Aleman!</h1>

	</br>
	</br>
    </br> 
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    


    <mark style="color:#008000;">Este sistema fue diseñado por Lucas Aleman</mark>
    <div class="mi-titulo">
    	
	</div>
    
    <div class="lista-descuentos">
	    <ul>
			
			
			
		</ul>
	</div>

</div>
{% endblock %}
